body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#optionsContainer {
    margin-top: 25px;
}

#sizeCaption, #description {
    text-align: left;
}

#transformedImage {
    max-width: 80%;
    height: auto;
}